:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #121213;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
  width: 100%;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-bottom: 2rem;
  /* min-height: 100%; */
  /* min-height: 100vh; */
  height: 100%;
  min-height: -webkit-fill-available;
  min-height: 95vh;
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
  max-width: 500px; */
  padding: 0;
  /* height: 100%; */
  /* min-height: 100vh; */
  /* min-height: 100%; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  /* background-color: #3a3a3c; */
  color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
}
/* button:focus, */
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/*
################
      Game
################
*/
.game {
  /* display: grid; */
  /* grid-template-rows: repeat(6, 1fr); */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}

.title {
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 1.1rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 15px;
}
@media (min-width: 500px) {
  .title {
    font-size: clamp(2.1rem, 4vw, 2.2rem);
  }
}
.guess-row {
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/*
#########################
    Letter square/tile
#########################
*/
.guess-square {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  aspect-ratio: 1/1;
  border: 2px solid #3a3a3c;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
@media (min-height: 650px) {
  .guess-square {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/* jump letters when start typing guess */
.active {
  /* border: 2px solid rgb(114, 114, 114); */
  border: 2px solid #565758;
  animation: 0.1s forwards pop;
}
@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.correct,
.keyboard-key.correct {
  background-color: #538d4e;
  border: 2px solid transparent;
}
.wrong-order,
.keyboard-key.wrong-order {
  background-color: #b59f3b;
  border: 2px solid transparent;
}
.wrong,
.keyboard-key.wrong {
  background-color: #1f1f1f;
  /* background-color: #1a1a1a; */
  border: 2px solid transparent;
}
.keyboard-key {
  background-color: #3a3a3c;
}

/* Flip letter tile */
.flip {
  animation: 0.5s linear flip;
}
@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/* Shake guess row on invalid input */
.shake {
  /* animation: 0.5s linear shake; */
  animation: 0.2s linear shake;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-10px);
  }
  65% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(10px);
  }
  100% {
    transform: rotateX(0);
  }
}

/*
################
    Keyboard
################
*/
.keyboard {
  /* display: grid; */
  /* justify-items: center; */
  /* gap: 6px; */
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 6px;
}
.keyboard-key {
  font-size: 0.75rem;
  padding: 0;
  border-radius: 4px;
  border: 2px solid transparent;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
  width: 2.5rem;
  height: 2.5rem;
}
@media (min-height: 650px) {
  .keyboard-key {
    height: 3.5rem;
  }
}
/* .keyboard-key:hover { */
/* background-color: rgb(94, 94, 94); */
/* transition: background-color 250ms ease-in;
  transition: background-color 250ms ease-out;
  transition: background-color 250ms ease-in-out; */
/* } */
/* .keyboard-key.wrong:hover { */
/* background-color: #3a3a3c; */
/* } */
/* .keyboard-key.wrong-order:hover { */
/* background-color: #b59f3b; */
/* } */
/* .keyboard-key.correct:hover { */
/* background-color: #538d4e; */
/* } */
.enter-key {
  /* flex: 1.5; */
  width: 4rem;
}
.backspace-key {
  /* flex: 1.5; */
  width: 4rem;
}
.keyboard-space {
  /* flex: 0.5; */
}

/* Game Over / Play again */
.play-again-container {
  margin-top: 1rem;
  /* font-size: 1.3rem; */
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play-again-title h4 {
  margin: 0;
  margin-bottom: 15px;
}
.win-text {
  color: rgb(28, 212, 28);
  /* font-size: 1.3rem; */
}
.lost-text {
  color: #d10707;
  /* font-size: 1.3rem; */
}
.play-again-title-word {
  /* color: rgb(28, 212, 28); */
  color: rgb(41 197 41);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.play-again-btn {
  background-color: #fff;
  color: #1e1e1e;
  font-weight: 600;
  font-size: 1rem;
}
.play-again-btn:hover {
  color: #636262;
}
